# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.env/
.venv/
env/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code settings
.vscode/

# Mac and system files
.DS_Store
Thumbs.db

# Logs
*.log

# Python-specific cache
*.pyo
*.pyd

# Distribution / packaging
build/
dist/
*.egg-info/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# MyPy and Pylint
.mypy_cache/
.dmypy.json
.pyre/
.pytype/

# ignore config folder and all its contents
config/
